@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<div class="list-group">
    @foreach (var category in Model)
    {
       

        <a href="/categories/@category.Id-@category.Name" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: #F1F1F1">
       
            <p class="mb-1">@category.Name</p>
            <img src="~/images/@String.Concat(category.Name.Replace(" ", "").ToLower(), "category.jpg") " alt="Alternate Text" style="width:100%; height:250px;"/>
        </a>
    }
</div>