<div class="container headerAll">

    <div class="leftHeader">
        <a class="navbar-brand logoLink" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Logo.png" class="logo modal-dialog" /></a>


        <div class="input-group mb-3 searchDiv">

            <div class="input-group-prepend divEye">
                <img src="/images/eye.png" alt="Eye" />
            </div>
            <div class="inputDiv">
                <input type="search" class="form-control" aria-label="Text input with checkbox" placeholder="Search..." />
            </div>
        </div>
    </div>
    <div class="rightHeader">
        <div class="loginDiv">
            <a asp-area="" asp-controller="" asp-action="">
                <img src="/images/LogIn.png" alt="Alternate Text" />
                
            </a>
        </div>
        <div class="cartDiv">
            <a asp-area="" asp-controller="" asp-action="">
                <img class="cartImg" src="/images/Cart-new.png" alt="Alternate Text" />
                <div class="cartText">0</div>
            </a>
        </div>
    </div>

</div>