@model EcChocolateAsp.Models.ProductsDisplayViewModel
@{

}
@*@Model.Product.Images*@
<div class="" id="divMF">

    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image1" src="/images/ice1.jpg" alt="leftImage">
        </figure>
        <a class="text-dark text-decoration-none" id="a1" asp-controller="Products" asp-action="beiers-ice-cream-cake">Beiers Ice Cream Cake</a>
    </div>
    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image2" src="/images/ice2.jpg" alt="midleImage">
        </figure>
        <a class="text-dark text-decoration-none" id="a2" asp-controller="Products" asp-action="lemon-pie-ice-cream-cake">Lemon Pie Ice Cream Cake</a>
    </div>
    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image3" src="/images/classicicecreamcake.jpg" alt="rightImage">
        </figure>

        <a class="text-dark text-decoration-none" id="a3" asp-controller="Products" asp-action="classic-ice-cream-cake">Clasisk Ice Cream Cake</a>
    </div>

</div>