<div class="" id="divMF">

    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image1" src="/images/ice1.jpg" alt="leftImage">
        </figure>
        <a class="text-dark text-decoration-none" id="a1" href="/product.html?id=4">Beiers Ice Cream Cake</a>
    </div>
    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image2" src="/images/ice2.jpg" alt="midleImage">
        </figure>
        <a class="text-dark text-decoration-none" id="a2" href="/product.html?id=5">Lemon Pie Ice Cream Cake</a>
    </div>
    <div class="col-sm-4">
        <figure class="figFrame">
            <img id="image3" src="/images/classicicecreamcake.jpg" alt="rightImage">
        </figure>
<<<<<<< HEAD
        <a id="a3" href="/product.html?id=6">Clasisk Ice Cream Cake</a>
=======
        <a class="text-dark text-decoration-none" id="a3" href="/product.html?id=6">Klasisk Ice Cream Cake</a>
>>>>>>> szDevelop
    </div>

</div>