@model EcChocolateAsp.Models.Reservation
@{
    //var x = https://localhost:44366/Reservations/Details/4
}

<section class="navbar navbar-info sticky-top bg-info col-md-6 flex-md-nowrap btn p-0 shadow">
    <a class="navbar-brand col-md-12  me-0 px-4 text-white" asp-controller="Products"><h4>Reservation</h4></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        @*<span class="navbar-toggler-icon"></span>*@
    </button>
</section>