@model CreateRoleViewModel
@using EcChocolateAsp.Areas.Admin.Controllers
@{
    ViewData["Title"] = "Create New Role";

    ViewData["Rebbon"] = "Create New Role";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h1>Create</h1>*@
<section class="navbar navbar-dark sticky-top bg-primary col-md-4 flex-md-nowrap btn p-0 shadow mt-2">
    <partial name="_Rebbon" />
</section>
@*<h4>Register New User</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Create Role" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
