@model EcChocolateAsp.Models.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest" class="control-label"></label>
                <input asp-for="Guest" class="form-control" />
                <span asp-validation-for="Guest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrangementPrice" class="control-label"></label>
                <select class="form-control" asp-for="ArrangementPrice">
                    <option value="">Select Option...</option>
                    <option value="450">AFTERNOON TEA 450 Kr</option>
                    <option value="249">CHOKOLADE TAPAS 249 Kr</option>
                    <option value="149">CHOKOLADEB RUNCH 149 Kr</option>
                </select>
                <span asp-validation-for="ArrangementPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
